@model TranTrongBinh_Project2.Models.DonHang

@{
    ViewBag.Title = "Create Order";
}

<h2>Create Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.MaKhachHang, "Customer")
        @Html.DropDownListFor(model => model.MaKhachHang, (SelectList)ViewBag.MaKhachHang, "Select Customer", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Products")
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="products">
                <tr>
                    <td>
                        @Html.DropDownList("SanPhamIds", (SelectList)ViewBag.SanPham, "Select Product", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("SoLuong", "", new { @class = "form-control", type = "number" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TongTien)
        @Html.TextBoxFor(model => model.TongTien, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Order</button>
    </div>
}
