@model IEnumerable<TranTrongBinh_Project2.Models.DonHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.Ho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.Ho)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.MaDonHang })
        </td>
        <td>
            @Html.ActionLink("Thanh Toán", "Create", "ThanhToans", new { MaDonHang = item.MaDonHang }, null)
        </td>
    </tr>
}

</table>
