@model IEnumerable<TranTrongBinh_Project2.Models.ChiTietDonHang>


@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Chi Tiết Đơn Hàng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonHang.MaDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonHang.MaDonHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaChiTietDonHang }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaChiTietDonHang }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaChiTietDonHang }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
